{% load widget_tweaks %}
{% load static %}

<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'tweet/css/tweet.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
        <title>Twitter_clone</title>
    </head>

    <body>
        <header class="header">
            <h1 class="header-ttl">Twitter Clone</h1>
            <p class="header-sub-ttl">ようこそ　{{request.user.username}}さん！</p>
        </header>

        <div class="wrapper">
            <nav class="nav">
                <div class="nav-bar">
                    <input type="submit" value="Home" class="nav-bar-item" id="js-home-button">
                    <input type="submit" value="Profile" class="nav-bar-item" id="js-profile-button">
                    <input type="submit" value="Favorite" class="nav-bar-item" id="js-favorite-button">
                    <input type="submit" value="Logout" class="nav-bar-item" id="js-logout-button">
                    <input type="submit" value="Tweet" class="tweet-button" id="js-tweet-button">
                </div>
            </nav>
        
            <main class="main">
                {% block content %}
                {% endblock content %}
            </main>
        </div>

        <script>
            document.getElementById('js-home-button').onclick = function () {
                window.location.href = "{% url 'apps.users:home' %}";
            };
            document.getElementById('js-profile-button').onclick = function () {
                window.location.href = "{% url 'apps.users:profile' request.user.username %}";
            };
            document.getElementById('js-favorite-button').onclick = function () {
                    window.location.href = "{% url 'apps.users:favorite' %}";
            };
            document.getElementById('js-logout-button').onclick = function () {
                window.location.href = "{% url 'apps.users:logout' %}";
            };
            document.getElementById('js-tweet-button').onclick = function () {
                window.location.href = "{% url 'apps.users:tweet_create' %}";
            };
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'tweet/js/ajax.js' %}" defer></script>
        {% block js-content %}
        {% endblock js-content %}

    </body>

</html> 
