{% extends 'tweet/base.html' %}
{% load widget_tweaks %}
{% load static %} 

{% block content %}
<div class="tweet-popup" id="js-popup">
    <div class="popup-content">
        <div class="close-button" id="js-close-button">×</div>
        <form method="post">
            {% csrf_token %}
            <p>Title</p>
            <p>{{ form.title|add_class:'title_form' }}</p>
            <p>Content</p>
            <p>{{ form.content|add_class:'content_form' }}</p>
            <input class="tweet-button2" type="submit" value="Tweet">
        </form>
    </div>
    <div class="background" id="js-background"></div>
</div>

<script>
    window.onload = function () {
        var popup = document.getElementById('js-popup');
        if (!popup) return;
        popup.classList.add('is-show');

        var closeButton = document.getElementById('js-close-button');
        var background = document.getElementById('js-background');

        closePopUp(closeButton);
        closePopUp(background);

        function closePopUp(elem) {
            if (!elem) return;
            elem.addEventListener('click', function () {
                popup.classList.remove('is-show');
                window.location.href = "{{request.META.HTTP_REFERER}}";
            })
        }
    }
</script>
{% endblock content %}
