{% extends 'tweet/base.html' %}
{% load static %}

{% block content %}
{% for post in liked_post_list %}
<article class="tweet-list">
    <div class="tweet-list-content">
        <p>投稿者：<a href="{% url 'apps.users:profile' post.user.username %}">{{post.user.username}}</a></p>
        <p>投稿日：{{post.created_at}}</p>
        <p>タイトル：{{post.title}}</p>
        <p><a href="{% url 'apps.users:tweet_detail' post.pk %}">詳細</a></p>
    </div>
    <button class="like" data-url="{% url 'apps.users:unlike' post.pk %}">
        <i class="fas fa-thumbs-up"></i>
        <span>{{ post.like_set.count }}</span>
    </button>
</article>
{% endfor %}
{% endblock content %}
