* {
  box-sizing: border-box;
}

html{
  height: 100%;
}

body {
  color: #333;
  background-color: black;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  min-width: 450px;
  height: 100%;
}

.header{
  text-align: center;
  padding-top: 10px;
  background-color: white;
  position: sticky;
  top: 0px;
}

.header-ttl{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.header-sub-ttl{
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  line-height: 2.5em;
  font-weight: bold;
  margin-bottom: 0px;
}

.wrapper{
  display: flex;
  justify-content: space-between; 
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.nav{
  width: 25%;
  border-right: 1px solid white;
}

.nav-bar{
  display: block;
  margin: 0;
  position: sticky;
  top:140px;
  text-align: center;
}

.nav-bar-item {
  width: 200px;
  height: 60px;
  border-radius: 30px;      
  font-size: 18pt;     
  cursor: pointer;    
  background: black;    
  color: #ffffff;     
  line-height: 1em;        
  transition: .3s;        
  border: 2px solid black;
}

.nav-bar-item:not(:last-child) {
  margin-top: 20px;
}

.nav-bar-item:hover {
  opacity: 0.7;
  background-color: gray;
}

.tweet-button{
  margin-top: 300px;
  width: 220px;
  height: 50px;
  border-radius: 25px;      
  font-size: 12pt; 
  font-weight: bold;    
  cursor: pointer;    
  background-color: rgb(41, 171, 231);    
  color: #ffffff;     
  line-height: 1em;        
  transition: .3s;        
  border: 2px solid rgb(41, 171, 231);
}

.tweet-button:hover{
  opacity: 0.8;
} 

.tweet-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
}

.tweet-popup.is-show {
  opacity: 1;
  visibility: visible;
}

.popup-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  max-width: 600px;
  padding: 50px;
  text-align: center;
  color: white;
  background-color: black;
  z-index: 2;
  border-radius: 18px;
}

.tweet-button2{
  margin-top: 80px;
  width: 200px;
  height: 50px;
  border-radius: 25px;      
  font-size: 12pt; 
  font-weight: bold;    
  cursor: pointer;    
  background-color: rgb(41, 171, 231);    
  color: #ffffff;     
  line-height: 1em;        
  transition: .3s;        
  border: 2px solid rgb(41, 171, 231);
}

.tweet-button2:hover{
  opacity: 0.8;
} 

.close-button {
  position: absolute;
  top: 10px; 
  right: 20px;
  font-size: 40px;
  cursor: pointer;
  color: white;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:#37beb06c;
  z-index: 1;
  cursor: pointer;
}

.main{
  width: 65%;
  padding: 60px; 
}

.tweet-list{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #37beb0;
  padding-bottom: 15px;
}

.tweet-list:not(:last-child) {
  margin-bottom: 25px;
} 

.tweet-list-content a{
  color: black;
  text-decoration: none;
}

.tweet-list-content a:hover{
  text-decoration: underline;
}

.tweet-content{
  color: white;
}

.tweet-content a{
  color: white;
  text-decoration: none;
}

.tweet-content a:hover{
  text-decoration: underline;
}

.delete-alert{
  color: white;
}

.profile-container{
   color: white;
   border-top: 2px solid white;
   border-bottom: 2px solid white;
   padding-top: 32px;
   padding-bottom: 32px;
   margin-bottom: 25px;
}

.profile-content{
  margin:0;
  display: flex;
  justify-content: center;
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

.following-followers-link{
  color: white;
  text-decoration: none;
}

.following-followers-link:hover{
  text-decoration: underline;
}

.following-followers-number{
  font-size: 15px;
  font-weight: bold;
}

.follow-button{
  font-weight: bold;
  margin-top: 20px;
  margin-left: 50px;
  width: 100px;
  height: 40px;
  border-radius: 30px;      
  font-size: 11pt;     
  cursor: pointer;    
  background: white;    
  color: black;     
  line-height: 1em;        
  transition: .3s;
  border: 0;
}

.follow-button:hover{
  opacity: 0.8;
} 

.following-followers-list{
  display: flex;
  border-bottom: 2px solid white;
  margin:0;
  justify-content: center;
  padding: 20px;
}

.following-followers-list:not(:last-child) {
  margin-bottom: 25px;
}

.username{
  margin-top:40px
}

.username a{
  text-decoration: none;
  color:white;
}

.username a:hover{
  text-decoration: underline;
}


@media screen and (max-width: 800px) {

  .nav-bar-item {
    width: 100%;
    height: 60px;
    border-radius: 30px;      
    font-size: 18pt;     
    cursor: pointer;    
    background: black;    
    color: #ffffff;     
    line-height: 1em;        
    transition: .3s;        
    border: 2px solid black;
  } 

  .tweet-button{
    margin-top: 300px;
    width: 100%;
    height: 50px;
    border-radius: 25px;      
    font-size: 12pt; 
    font-weight: bold;    
    cursor: pointer;    
    background-color: rgb(41, 171, 231);    
    color: #ffffff;     
    line-height: 1em;        
    transition: .3s;        
    border: 2px solid rgb(41, 171, 231);
  }

  .profile-content{
    margin:0;
    display: block;
    margin:auto;
    padding: 20px;
  }

  .user-icon{
    text-align: center;
  }

  .user-info{
    text-align: center;
  }

  .user-follow{
    text-align: center;
  }

  .follow-button{
    font-weight: bold;
    margin:0;
    width: 100px;
    height: 40px;
    border-radius: 30px;      
    font-size: 11pt;     
    cursor: pointer;    
    background: white;    
    color: black;     
    line-height: 1em;        
    transition: .3s;
    border: 0;
  }

  .following-followers-list{
    display: block;
    border-bottom: 2px solid white;
    margin:0;
    justify-content: center;
    padding: 20px;
  }

  .username{
    margin-top:0px;
    text-align: center;
  }

}
